@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{

    display: grid;
    justify-content:center;
    align-content: end;
    min-height: 100vh;
    background: white;
    padding: 50px;
}
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding:50px 100px ;
    background: #e8e8e8;;
}
 footer .container{
 
    width:100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid: gap 20px;
}
footer .container .sec h2
{
    position: relative;
    color: black;
    font-weight:600;
    margin-bottom: 15px;

}
footer .container .sec p
{
 color: black;
 text-align:left;
}
footer .container .sci
{
margin-top: 20px;
display: grid;
grid-template-columns:repeat(4 ,50px) ;
}
footer .container .sci li
{
 list-style:none ;

}
footer .container .sci li a 
{
    display: inline-block;
    width: 36px;
    height: 36px;
    background: #333;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
}
footer .container .sci li a i {
 color: #fff;
}
footer .container .quicklinks 
{
    position: relative;
}
footer .container .quicklinks ul li{
    list-style: none;
}
footer .container .quicklinks .sci0 li a
{
    color: #555;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
footer .container .contact .info{
 display: grid;
 grid-template-columns: 30px 1fr;
 margin-bottom: 16px;

}
footer .container .contact .info li span{
 color: #555;
 font-size: 20px;
}
footer .container .contact .info li a
{
 color: #555;
 text-decoration: none;
 padding: 20px 100px 30px;
 text-align: center;
 color: #555;
}
.copyrighttext
{
    width: 100%;
    background:gray;
    padding: 20px 100px 30px;
    text-align: center;
    color:black;
    border: 1px solid rgba(0, 0, 0, 0);
}
@media (mix-width: 991px)
    
{
    footer
    {
     padding: 40px;
    }
    footer .container{
 
    width:100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid: gap 20px;
}
.copyrighttext{
    padding: 20px 40px 30px;
    
}

}
@media (max-width: 768px)
{
    footer .container{
 
    width:100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid: gap 20px;
}
}